fastapi
uvicorn
transformers>=4.38.0
python-magic
torch
transformers
langchain
langchain_community
langchain_huggingface
sentence_transformers
faiss-cpu
langchain_core
accelerate 
peft 
bitsandbytes
unstructured[all]
pydantic>=1.10


